{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      {% block title %}
        Title
      {% endblock %}
    </title>
    <script src="https://cdn.tailwindcss.com"></script>
    <style type="text/tailwindcss">
      @layer components {
        .form-control {
          @apply [&>*>input]:mt-1 [&>*>input]:border [&>*>input]:rounded-md [&>*>input]:w-full [&>*>input]:px-3 [&>*>input]:py-2 [&>*>input]:mt-1 [&>*>input]:border [&>*>input]:rounded-md [&>*>input]:w-full [&>*>input]:px-3 [&>*>input]:py-2  [&>*>select]:mt-1 [&>*>select]:border [&>*>select]:rounded-md [&>*>select]:w-full [&>*>select]:px-3 [&>*>select]:py-2 [&>*>select]:mt-1 [&>*>select]:border [&>*>select]:rounded-md [&>*>select]:w-full [&>*>select]:px-3 [&>*>select]:py-2 [&>*>textarea]:mt-1 [&>*>textarea]:border [&>*>textarea]:rounded-md [&>*>textarea]:w-full [&>*>textarea]:px-3 [&>*>textarea]:py-2 [&>*>textarea]:mt-1 [&>*>textarea]:border [&>*>textarea]:rounded-md [&>*>textarea]:w-full [&>*>textarea]:px-3 [&>*>textarea]:py-2
        }
      }
    </style>
  </head>

  <body class="bg-gray-50 text-gray-800 min-h-screen">
    {% block nav %}
      {% include "nav.html" %}
    {% endblock nav %}

    <section class="pt-6 max-w-6xl mx-auto">
      <header aria-label="page header" class="mb-6">
        {% block head %}
          <h1 class="text-2xl font-semibold text-gray-900"></h1>
        {% endblock head %}
      </header>

      <main aria-label="main content">
        {% block content %}
          <p class="text-gray-600">Content goes here.</p>
        {% endblock content %}
      </main>
    </section>

    {% block script %}
    <script src="{% static 'js/app.js' %}"></script>
    {% endblock script %}
  </body>
</html>
