{% extends 'base.html' %}
{% load static %}

{% block title %}Your Posts{% endblock title %}

{% block content %}
<div class="max-w-6xl mx-auto my-8 px-4">
  <div class="flex items-center justify-between mb-6">
    <h1 class="text-2xl font-semibold">Your Job Posts</h1>
    <a href="{% url 'job_post_create' %}" class="px-4 py-2 text-white bg-green-500 shadow rounded-md hover:bg-green-600 font-medium transition-colors">Create a new job post</a>
  </div>
  <div id="my-posts" class="space-y-4"><!-- Rendered by JS --></div>
{% endblock content %}